h1{
    color: #5437db !important;
    font-family: Verdana;
}
li{
    font-family: Tahoma;
	color: red !important
}
.top{
    color: #056403 !important;
    font-family: Arial;
}
body{

    background-image: url("pretty.png");
    background-size: 2000px 2000px;
}
ol{
    text-align: center;
    list-style-position: inside;
}
ul{
    text-align: center;
    list-style-position: inside;
}
a{
    text-decoration:none;
}
a:hover {
    background-color: blue;
}
.change:hover{
    color: #a0aeff;
    background-color: blue;
}
p{
font-size: x-large;
}